.card_filter_container {
    display: flex;
}

.card_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card_box {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 15vw;
    margin: 20px auto;
    align-items: center;
    transition: 0.4s;
}

.card_box:hover {

    transform: scale(1.1);
    box-shadow: 1px 2px 5px grey;
}


.card_photo {
    width: 100%;
    height: 69%;
    text-align: center;
    display: inline-block;
    background: black;
}

.card_name {
    height: 8%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.card_description {
    width: 80%;
    height: 15%;
    text-align: center;
    font-size: 12px;
}

.card_price_stock_box {
    width: 80%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}

.card_price {
    width: 50%;
    text-align: center;
}

#card_stock {
    width: 50%;
    text-align: center;
    font-size: 12px;
}

/* start filter form******************** */

.filter_box {
    width: 18%;
    padding: 30px 10px;
    margin-top: 100px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 60vh;
}

.filter_header {
    border-bottom: red 1px solid;
    text-align: center;
}

#card_stock_low {
    color: red;
    text-align: center;
    font-size: 12px;
}

#card_stock_high {
    color: green;
    text-align: center;
    font-size: 12px;
}

.white_space {
    height: 5vh;
}

.options_dropdown select {
    width: 8vw;
    border: none;
    background-color: white;
    height: 4vh;
    width: 9vw;
    color: rgba(223, 13, 13, 0.979);
    border-radius: 10%;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 16px;
    outline: none;
    border: 1px solid rgba(223, 13, 13, 0.979);
}

.options_dropdown select option {
    background-color: white;
    color: rgba(223, 13, 13, 0.979);
}