.form_image {
    
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.form_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 65vh;
    border-radius: 5%;
}

h1 {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px 0;
}