.form_image {
    
}

.form_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.daruma_image_gif {

}

.form_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 70vh;
    width: 50vw;
    border-radius: 5%;
    margin-top: 260px;
    background: linear-gradient(to bottom, white 0%, white 10%,rgba(223, 13, 13, 0.979) 40%,rgba(223, 13, 13, 0.979) 100%);
}

h1 {
    padding: 10px 0;
}

#first_name_style {
    color: white;
    font-size: 20px;
}

#last_name_style {
    color: white;
    font-size: 20px;
}

#email_style {
    color: white;
    font-size: 20px;
}

#choose_login_style {
    color: white;
    font-size: 20px;
}

#password_style {
    color: white;
    font-size: 20px;
}

.register_button_box {
    display: flex;
    flex-direction: row;
}


#submit_style {
    border: none;
    height: 6vh;
    width: 12vw;
    color: black;
    background-color: rgba(223, 13, 13, 0.979);
    border-radius: 5%;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.6s;
    box-shadow: 0 0 20px white;
}

#submit_style:hover {
    border: 2px solid white;
    color: white;
    width: 10vw;
}
