body {
    top: 0;
    margin: 0;
    font-family: 'Miriam Libre', sans-serif;
}

.debug {
    border: 1px solid black;
}


.header_container {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    background-color: white;
    padding-bottom: 5px;
    z-index: 10;
    box-shadow: 0 1px 5px grey;
}


.header_container img {
    height: 100%;
    width: 30%;
    margin-top: 5px;
}

.logo_container {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.daruma_text {
    width: 50%;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    outline: none;
    font-size: 30px;
    color: black;
}

.searchbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.navbar_search {
    border: 1px solid black;
    height: 30%;
    width: 100%;
}

.link_container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 60vw;
    justify-content: space-around;
}

.link_container a {
    width: 12vw;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    color: black;
    height: 30%;
}

.dropdown_my_account {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    color: white;
    background-color: red;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 18px;
    border-radius: 10%;
}

.dropdown_my_account_content {
    position: absolute;
    background-color: rgba(192, 192, 192, 0.5);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    line-height: 25px;
}

.dropdown_my_account_content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_my_account_content a:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

.dropdown_my_account:hover .dropdown_my_account_content{
    display: block;
}

.dropdown_filter {
    display: flex;
    margin-top: 2vh;
    justify-content: center;
    transition: 1s;
}

#dropdown_arrow {
    transition: 1s;
}

.dropdown_filter img {
    cursor: pointer;
    width: 1.5vw;
    height: 3vh;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    animation: filter_down 2.5s infinite forwards;
}

@keyframes filter_down {
    50%{border-bottom: 2px solid black;}
    100%{border-bottom: 2px solid white;}
}


