.debug {
    border: solid 1px black;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 87vh;
    margin-top: 50px;
}

.explanation {
    height: 25%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.photo_container {
    height: 100vw;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.step_1{
    font-weight: bold;
}

.text {
    padding-top: 5px;
}
