body {
    top: 0;
    margin: 0;
    font-family: 'East Sea Dokdo', cursive;
    background-image: url(../images/png/index_daruma.png);
    background-size: 92%;
    background-repeat: no-repeat;
}

.debug {
    border: 1px solid black;
}

.index_container {
    margin-top: 30px;
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_quotes {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family: 'Caveat', cursive;
}