.login_container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_box {
    width: 50vw;
    height: 40vh;
    background-color: rgba(223, 13, 13, 0.979);
    margin-top: 100px;
    border-radius: 15%;
    padding: 60px 30px;
    display: flex;
    justify-content: center;
}

.name_password_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    }

#email_style {
    color: white;
    font-size: 20px;
}

#password_style {
    color: white;
    font-size: 20px;
}

.make_account_box {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: center;  
    justify-content: space-between;
}

.make_account_box p {
    color: white;
}


.submit_button {
    border: none;
    width: 4vw;
    height: 4vh;
    color: white;
    background-color: rgba(223, 13, 13, 0.979);
    border-radius: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: 0.6s;
    border: 2px solid black;
    box-shadow: 0px 0px 20px white;
}

.submit_button:hover {
    color: white;
    background-color: black;
    width: 10vw;
    border: 0.5px solid white;
}


.space_maker {
    width: 10vw;
}

#arrow_up {
    height: 10vh;
    width: 5vw;
}

#login_daruma {
    height: 20vh;
    animation: login_daruma 6s infinite forwards;
}

@keyframes login_daruma {
    0%{transform: rotate(0deg);}
    10%{transform: rotate(-20deg);}
    20%{transform: rotate(20deg);}
    25%{transform: rotate(0deg);}
}